#root {
  width: 100%;
  height: auto;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);
}

.dashboard {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 16px;

  .social {
    display: flex;
    margin-right: 0.5em;
    border: solid 0.1rem transparent;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    color: var(--social-link-color);
    border-color: var(--border-color);
    padding: 0.5rem;
    transition: 0.5s;
  }

  .social:hover {
    border-color: var(--hover-border-color);
    color: var(--hover-color);
  }
}

.projects {
  margin-top: 1rem;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;

    .toggle {
      color: var(--text-color);
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }
}