#root {
  max-width: 1280px;
  margin: 0 2rem;
  padding: 2rem;
}
.header {
  display: flex;
  flex-direction: row;

 
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
  
  .social {
    display: flex;
    margin-right: 1em;
    border: solid 0.25rem transparent;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    color: #ffffff;
    padding: 0.5rem;
    transition: 0.5s;
  }

  .social:hover {
    border-color: #646cff;
    color: #646cff;
  }
}

.portrait {
  height: 6em;
  border: solid 0.25rem #ffffff;
  border-radius: 0.5rem;
  transition: 0.5s;
  margin-right: 1rem;
}

.portrait:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  border-color: #646cff;
}

.portrait.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  margin-top: 1rem;

  .name {
    font-size: 2rem;
    font-weight: 400;
    transition: 0.5s;
  }
  .name:hover {
    color: #646cff;
  }

  .description{
    transition: 0.5s;
  }
  .description:hover {
    color: #646cff;
  }
}

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
} */
